@using Microsoft.AspNetCore.Identity.Data;
@model IEnumerable<OmSaiModels.Admin.ProjectModel>

@{
    ViewData["Title"] = "Projects";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["AreaName"] = "Admin";
    ViewData["ControllerName"] = "Project";
    int serialNumber = 1;
}

@section css {
    <style>
        .btnEdit:hover {
            cursor: pointer;
        }
    </style>
}

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">
                    Projects
					<button asp-action="Create"  asp-controller="Project" asp-area="Admin" class="btn btn-sm btn-primary" id="btnShowForm">Add New</button>
                </h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Management</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Projects</li>
                </ol>
            </div>
        </div>
    </div>
</div>

@* <div class="row">

	<div class="col-lg-12">
		<div class="table-responsive mt-30">
            <table class="table table-bordered table-striped">
				<thead>
					<tr>
                        <th style="width: 10px">#</th>
						<th class="text-center" scope="col">Project Name</th>
						<th class="text-center" scope="col">Project Description</th>
						<th class="text-center" scope="col">Total Man Power</th>
						<th class="text-center" scope="col">Project Budget</th>
						<th class="text-center" scope="col">Status</th>
						<th class="text-center" scope="col">Remark</th>
						<th class="text-center" scope="col">Project Start Date</th>
						<th class="text-center" scope="col">Project End Date</th>
						<th class="text-center" scope="col">Action</th>
					</tr>
				</thead>
				<tbody>

					@foreach (var project in ViewBag.Projects)
					{
						<tr>
							<td class="text-center">@serialNumber</td>
							<td >@project.ProjectName</td>
							<td >@project.ProjectDiscription</td>
							<td >@project.TotalManPower</td>
							<td >@project.ProjectBudget</td>
							<td >@project.Status</td>
							<td >@project.Remark</td>
							<td >@project.ProjectStartDate</td>
							<td >@project.ProjectEndDate</td>
							
							<td class="text-center">
								<a asp-action="edit" class="nav-link badge shadow m-1 text-warning btn btnEdit" asp-controller="Project" asp-area="Admin" asp-route-id="@project.ProjectId">
									<i class="bi bi-pencil-square"></i> Edit</a>
								<button type="button" class="nav-link badge shadow m-1 text-danger btn btn-delete"
										data-bs-toggle="modal"
										data-project_id="@project.ProjectId"
										data-project_name="@project.ProjectName"
										data-bs-target="#delete_confirm_model">
									<i class="bi bi-trash3-fill"></i> Delete
								</button>

							</td>

						</tr>

						serialNumber++;
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
 *@
<div class="app-content">
    <div class="container-fluid">
        <partial name="~/Views/shared/_alertpartial.cshtml" />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" >
                <div class="card mb-4">
                    <div class="card-body">
                        @* <p>Total Records: <b>@ViewBag.TotalRecords</b></p> *@
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th class="text-center" scope="col">Project Name</th>
                                    <th class="text-center" scope="col">Project Description</th>
                                    <th class="text-center" scope="col">Total Man Power</th>
                                    <th class="text-center" scope="col">Project Budget</th>
                                    <th class="text-center" scope="col">Status</th>
                                    <th class="text-center" scope="col">Remark</th>
                                    <th class="text-center" scope="col">Project Start Date</th>
                                    <th class="text-center" scope="col">Project End Date</th>
                                    <th class="text-center" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in ViewBag.Projects)
                                {
                                    serialNumber++;
                                    <tr class="align-middle">
                                        <td>@serialNumber</td>
                                        <td>@project.ProjectName</td>
                                        <td>@project.ProjectDiscription</td>
                                        <td>@project.TotalManPower</td>
                                        <td>@project.ProjectBudget</td>
                                        <td>@project.Status</td>
                                        <td>@project.Remark</td>
                                        <td>@project.ProjectStartDate</td>
                                        <td>@project.ProjectEndDate</td>
                                        <td class="text-center">
                                            <a asp-action="edit" class="nav-link badge shadow m-1 text-warning btn btnEdit" asp-controller="Project" asp-area="Admin" asp-route-id="@project.ProjectId">
                                                <i class="bi bi-pencil-square"></i> Edit
                                            </a>
                                            <button type="button" class="nav-link badge shadow m-1 text-danger btn btn-delete"
                                                    data-bs-toggle="modal"
                                                    data-project_id="@project.ProjectId"
                                                    data-project_name="@project.ProjectName"
                                                    data-bs-target="#delete_confirm_model">
                                                <i class="bi bi-trash3-fill"></i> Delete
                                            </button>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>


